[submodule "3rd/rtl8812au-monitor-pcap"]
	path = 3rd/rtl8812au-monitor-pcap
	url = https://github.com/TalusL/rtl8812au-monitor-pcap.git
[submodule "3rd/flint_gui"]
	path = 3rd/flint_gui
	url = https://github.com/floppyhammer/flint_gui.git
	branch = openipc
